.navbar {
    position: fixed;
    height: 120px;
    width: 100%;
    display: flex;
    /* background: transparent; */
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    flex-direction: row;

}


.navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 250px;
}


@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }

    to {
        transform: rotate(360deg) scale(1.4);
    }
}

@keyframes rotateBack {
    from {
        transform: rotate(360deg) scale(1.4);
    }

    to {
        transform: rotate(0deg) scale(1);
    }
}


.navbar .leftSide img {
    width: 70px;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}


.navbar .leftSide img:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    animation: rotate 1s forwards;
}


.navbar .leftSide img:not(:hover) {
    animation: rotateBack 1s forwards;
}

.navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    margin: 50px;
    text-decoration: none;
    color: rgb(241, 200, 16);
    font-size: 30px;
}

.navbar a:hover {
    text-decoration: underline;
    text-shadow: 0 10px 15px rgba(200, 166, 12, 0.5);

}